<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzti.fengyongge.imagepickersample">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 在sdcard中创建/删搜索除文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 拍照的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SaveActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPicActivity" />
        <activity android:name=".PreViewActivity" />
        <!-- 引入imagepicker时需要注册的activity 分别为预览图片和选择图片 -->
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity" />
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity" />
    </application>

</manifest>